################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Лаба 2/v16/Browse.VC.db
/.vs/Лаба 2/v16/Browse.VC.opendb
